extends ../profile

block main-content
  h2 Registering Restaurant
  form.profile-form(action='/api/v1/user/registering' method="POST" enctype="multipart/form-data")
    .container-fluid
      .row
        .col-lg-4
          .imageupload(style="display: flex; justify-content: center; align-items: center; background-color: #f0f0f0; width: 100%; height: 200px; border: 2px dashed #ccc; cursor: pointer; position: relative; overflow: hidden;")
            img#preview.img-fluid(
              style="max-width: 100%; max-height: 100%; object-fit: cover; display: none;"
              alt="Preview"
            )
            label(for="file-input" style="color: #007bff; font-weight: bold; position: absolute;") + Upload Image
            input#file-input.d-none(type="file" name="Restaurant")

          script.
            const inputTag = document.getElementById('file-input');
            const previewImageTag = document.getElementById('preview');
            inputTag.onchange = () => {
              const [file] = inputTag.files;
              if (file) {
                previewImageTag.src = URL.createObjectURL(file);
                previewImageTag.style.display = 'block';
                document.querySelector('label[for="file-input"]').style.display = 'none';
              }
            }


        .col-lg-8
          .form-group
            label(for="restaurant_name") Restaurant Name:
            input#restaurant_name.form-control(type="text" name="restaurant_name" placeholder="Restaurant Name" required)

          .form-group
            label(for="address") Address:
            input#address.form-control(type="text" name="address" placeholder="Address" required)

          .form-group
            label(for="phone_number") Phone Number:
            input#phone_number.form-control(type="text" name="phone_number" placeholder="Phone Number" required)

          .form-group
            label(for="main_dishes" style="margin-right: 140px;") Main Dishes:
            select#city_id.form-control(name="main_dishes" required)
              option(value="" disabled selected) -- Select a Main Dishes--
              each main_dish in Main_dish
                option(value=main_dish.id) #{main_dish.name}

          .form-group
            label(for="city_id" style="margin-right: 140px;") City:
            select#city_id.form-control(name="city_id" required)
              option(value="" disabled selected) -- Select a City --
              each city in City
                option(value=city.id) #{city.city_name}

          .form-group
            label(for="description") Description:
            textarea#description.form-control(
              name="description"
              placeholder="Restaurant Description"
              rows="4"
              required
              style="resize: vertical; margin-top: 5px;"
            )

          .row
            .col-lg-6
              button.submit-buttons.btn.btn-primary(type="submit" style="margin-top: 15px;") Submit

  hr
  h3 User's Restaurants
  .container-fluid
    .row
      each restaurant in UserRestaurants
        .col-lg-4.col-md-6.mb-3
          .card.shadow-sm.border-0.rounded-3
            img.card-img-top.rounded-top(
              src=restaurant.img_restaurant ? `data:image/jpeg;base64,${restaurant.img_restaurant.toString('base64')}` : "/images/img/about/3.jpg"
              alt=restaurant.restaurant_name
              style="height: 150px; object-fit: cover;"
            )
            .card-body.bg-white
              h5.card-title.text-warning.font-weight-bold #{restaurant.restaurant_name}
              p.card-text.text-muted #{restaurant.description}
              a.btn.btn-primary(href=`/api/v1/user/dish_menu/${restaurant.id}`) Add Dishes
